<h1 class="page-header">New Team</h1>

<%= form_for :team, url: team_index_path, html: {class: 'col-sm-4'}  do |f| %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <label>Select users</label>
    <%= collection_check_boxes(:team, :user_ids, @users, :id, :email) do |b| %>
      <div class="checkbox">
        <%= b.label { b.check_box(class: "checkbox") + b.text } %>
      </div>
    <% end %>
  </div>

  <%= f.submit class:"btn btn-default" %>
<% end %>
