<%= form_for :team, url: team_index_path  do |f| %>
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%=collection_check_boxes(:team, :user_ids, User.all, :id, :email, :item_wrapper_class => 'inline') %>
  </div>
    <%= f.submit %>
<% end %>


